@{
    ViewData["Title"] = "Home Page";
}



<h1>SaMi-tietokannan helper-palvelu</h1>

<h3>Tervetuloa!</h3>

<h5>Uusi käyttäjä: Rekisteröidy yläkulmasta</h5>

<h5>Palvelun käyttäjä: Kirjaudu sisään tai klikkaa yläkulmasta hakuun</h5>


<div id="image">
    <img src="~/images/kuva2.jpg" />
</div>



